<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

  <link rel="icon" href="{% static '/images/logo.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static '/images/logo.ico' %}" type="image/x-icon">
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/all.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static '/css/style-purple.css' %}">
  <link rel="stylesheet" href="{% static '/css/components.css' %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static '/css/malio.css' %}">

  <title>复旦一卡通</title>

  <!-- C3 chart css -->
  <link rel="stylesheet" href="{% static '/css/c3.min.css' %}">

  <!-- General JS Scripts -->
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <!-- Counter Up  -->

  <script src="{% static '/js/sweetalert2.all.min.js' %}"></script>
  <script src="{% static '/js/jquery.js' %}"></script>
  <script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static '/js/gargets.js' %}"></script>
  <script>
    $('.counter').counterUp({
      delay: 10,
      time: 1000
    });


    setTimeout(loadTrafficChart(), 3000);
  </script>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" id="sidebar-button" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a>
            </li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="{% static '/images/g' %}" class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block" id="name">Hi, Calvin</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="logout" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> 退出登录
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2" tabindex="1" style="overflow: hidden; outline: none;">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href=""> </a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="">菜单</a>
          </div>
          <ul class="sidebar-menu">
            <li class="active"><a class="nav-link" href="/user"><i class="fas fa-school"></i>
                <span id="user-span">首页</span></a></li>
            <li><a class="nav-link" href="canteen"><i class=" fas fa-cookie-bite"></i>
                <span id="canteen-span">用餐</span></a></li>
            <li><a class="nav-link" href="leave"><i class="fas fa-torii-gate"></i>
                <span id="leave-span">离校</span></a></li>
            <li><a class="nav-link" href="access"><i class="fas fa-building"></i>
                <span id="access-span">回寝</span></a></li>
            <li id="analysis-span" style="display: none;"><a class="nav-link" href="analysis"><i
                  class="fas fa-info"></i>
                <span>分析</span></a></li>
            <li id="register-span" style="display: none;"><a class="nav-link" href="register"><i
                  class="fas fa-puzzle-piece"></i>
                <span>注册</span></a></li>
          </ul>
        </aside>
      </div>
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>首页</h1>
          </div>
        </section>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-icon shadow-warning bg-warning">
                <i class="fas fa-wallet"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>卡内余额</h4>
                </div>
                <div class="card-body">
                  <span class="counter" id="remainingsum">{{ remainingsum | safe }}</span>元
                </div>
                <div class="card-stats">
                  <div class="card-stats-title" style="padding-top: 0;padding-bottom: 4px;">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page" id="today_consume">今日已消费：{{ today_consume | safe }}元</li>
                      </ol>
                    </nav>
                  </div>
                </div>
                <div class="buttons">
                  <form action="javascript:void(0);" method="POST">
                    <div align="center">
                      <input type="submit" id="charge_button" class="btn btn-icon icon-left btn-primary" value="余额充值" />
                      <input type="submit" id="passwd_button" class="btn btn-icon icon-left btn-primary" value="密码修改" />
                      <input type="submit" id="update_button" class="btn btn-icon icon-left btn-primary" value="挂失补办" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" align="center">
              <div>&nbsp;</div>
              <h3>信息查询</h3>
              <div class="card-wrap">
                <div id="table-div"></div>
                <div>&nbsp;</div>
                <div class="buttons">
                  <form action="javascript:void(0);" method="POST">
                    <div>
                      <label for="select-role">功能&#12288;&#12288;</label>
                      <select class="custom-select input-group-append col-6" name="rank" id="select-role" required=""
                        style="border-top-right-radius: .25rem;
                          border-bottom-right-radius: .25rem;">
                        <option value="consume" selected="">消费记录</option>
                        <option value="access">楼寝记录</option>
                        <option value="record">出入校记录</option>
                      </select>
                    </div>
                    <div id="start-end">
                      <div>
                        <label for="start">起始时间</label>
                        <input id="start" type="date" class="form-control col-6" style="display: inline;" />
                      </div>
                      <div>
                        <label for="end">终止时间</label>
                        <input id="end" type="date" class="form-control col-6" style="display: inline;" />
                      </div>
                    </div>
                    <div>&nbsp;</div>
                    <div align="center">
                      <input type="submit" id="select_button" class="btn btn-icon icon-left btn-primary" value="查询" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</head>

<script>
  if (getCookieByString('ID') == 'admin') {
    $("#user-span")[0].innerText = "管理";
    $("#canteen-span")[0].innerText = "餐厅";
    $("#leave-span")[0].innerText = "校门";
    $("#access-span")[0].innerText = "楼寝";
    $("#analysis-span")[0].style.display = "block";
    $("#register-span")[0].style.display = "block";
  }
  $('#sidebar-button').click(function () {
    var body = $('body')
    if (body.hasClass('sidebar-mini')) {
      body.removeClass('sidebar-mini');
      body.addClass('sidebar-show');
    } else {
      body.addClass('sidebar-mini');
      body.removeClass('sidebar-show');
    }
    return false;
  });
  $('#charge_button').click(function () {
    swal({
      title: '充值金额',
      input: 'text',
      confirmButtonText: "氪就完事了",
      cancelButtonText: "让我再想想",
      showCancelButton: true,
    }).then(function (result) {
      if ("value" in result) {
        if (/^[0-9]+[.]?[0-9]?[0-9]?$/.test(result["value"])) {
          var csrfToken = $("[name='csrfmiddlewaretoken']").val();
          $.ajax({
            type: "POST",
            url: "/user",
            dataType: "json",
            data: {
              amount: Number(result["value"]),
              role: "charge",
              csrfmiddlewaretoken: csrfToken,
            },
            success: function (data) {
              if (data.ret) {
                swal('充值成功', "您的余额已更新", 'success');
                $("#remainingsum")[0].innerHTML = data.remainingsum
              }
              else {
                swal('充值失败', "卡内余额不得超过100000000元", 'error');
              }
            }
          });
        }
        else {
          swal('出错了', "输入格式错误", 'error');
        }
      }

    })
  });
  $('#passwd_button').click(function () {
    var html = "<div style='height:60px'><p style='display:inline-block;width:100px;text-align:justify;'>新密码：</p><input placeholder='新密码' id='new_passwd_input'></input></div>";
    swal({
      title: '修改密码',
      html: html,
      confirmButtonText: "确定",
      cancelButtonText: "取消",
      showCancelButton: true,
    }).then(function (result) {
      if ("value" in result) {
        var csrfToken = $("[name='csrfmiddlewaretoken']").val();
        var new_passwd = $("#new_passwd_input").val();
        $.ajax({
          type: "POST",
          url: "/user",
          dataType: "json",
          data: {
            amount: Number(result["value"]),
            new_passwd: new_passwd,
            role: "passwd",
            csrfmiddlewaretoken: csrfToken,
          },
          success: function (data) {
            if (data.ret) {
              swal('修改成功', "您的密码已更新", 'success');
            }
            else {
              swal('修改失败', "请输入合适长度的密码", 'error');
            }
          }
        });
      }
    })
  });
  $('#update_button').click(function () {
    var html = "<div style='height:60px'><p style='display:inline-block;width:100px;text-align:justify;'>新密码：</p><input placeholder='新密码' id='new_passwd_input'></input></div>";
    swal({
      title: '挂失补办',
      html: html,
      confirmButtonText: "确定",
      cancelButtonText: "取消",
      showCancelButton: true,
    }).then(function (result) {
      if ("value" in result) {
        var csrfToken = $("[name='csrfmiddlewaretoken']").val();
        var new_passwd = $("#new_passwd_input").val();
        $.ajax({
          type: "POST",
          url: "/user",
          dataType: "json",
          data: {
            amount: Number(result["value"]),
            new_passwd: new_passwd,
            role: "update",
            csrfmiddlewaretoken: csrfToken,
          },
          success: function (data) {
            if (data.ret) {
              swal('补办成功', "您的一卡通已更新", 'success');
              $("#remainingsum")[0].innerText = 0;
            }
            else {
              swal('补办失败', "请输入合适长度的密码", 'error');
            }
          }
        });
      }
    })
  });
  $('#select_button').click(function () {
    var csrfToken = $("[name='csrfmiddlewaretoken']").val();
    var role = $("#select-role").val();
    $.ajax({
      type: "POST",
      url: "/user",
      dataType: "json",
      data: {
        role: role,
        method: "select",
        start: $("#start").val(),
        end: $("#end").val(),
        csrfmiddlewaretoken: csrfToken,
      },
      success: function (data) {
        if (data['ret'] != 0) {
          swal("查询成功", "", "success");
          showTable("table-div", data['data'])
        }
        else {
          swal("查询失败", "请联系网站管理员汇报错误", "error");
        }
      }
    });
  });


  if (window.screen.width < 600) {
    var target = document.getElementById("sidebar-button");
    $('body').addClass('sidebar-mini');
    target.style.display = "none";
  }
</script>

<script>
  var name = {{ name | safe }};
  document.getElementById('name').innerHTML = ("Hi, " + name)
  fitWindow()
  $("#remainingsum").onPositionChanged(function(){fitWindow()});
</script>